@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-color-principal: #201658;
    --bg-color-secondaire: #1D24CA;
    --bg-color-tertiaire: #98ABEE;
    --text-color: #F9E8C9;
}
/* GENERAL */
h1{
    color: var(--text-color);
    font-family: "fredoka";
    font-size: 5rem;
    font-weight: 600;
    line-height: 5rem;
}
h1 span{
    font-size: 2.5rem;
}
h2{
    color: var(--text-color);
    font-family: "fredoka";
    font-size: 2rem;
    font-weight: 400;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
/* Contenu Titre */

body{
    width: 100vw;
    height: 100vh;
    padding: 50px;
    background-color: var(--bg-color-principal);
}
.titre{
    width: 100%;
}
.liens{
    width: fit-content;
    gap: 10px;
}
.liens a{
    height: fit-content;
}
.liens a img{
    display: block;
    color: var(--text-color);
    width: 50px;
}

/* Contenu de container */

.container{
    width: 100%;
    height: 70vh;
    gap: 30px;
}
.card{
    width: 80px;
    border-radius: 20px;
    background-color: var(--bg-color-secondaire);
    transition: width 0.5s ease;
    overflow: hidden;
}
.ouvert{
    width: calc(95% - (80px * 2));
}
.titre-section{
    width: fit-content;
    height: 100%;
    padding: 20px;
    align-items: flex-end;
}
.titre-section h2{
    writing-mode: vertical-lr;
}
.wrapper{
    padding: 10px;
    width: 90%;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
}